:root {
  --color-a: rgb(150, 48, 48);
  --color-b: rgb(148, 98, 98);
  --color-c: rgb(244, 129, 7);
  --color-d: rgb(244, 179, 110);
  --color-e: rgb(205, 205, 205);
  --white: #fff;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.site-footer,
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.site-footer {
  background-color: var(--color-c);
  color: var(--white);
}

.site-header > span {
  display: inline-block;
  margin: 0 10px;
}

table {
  width: 100%;
}

td,
th {
  padding: 10px;
}

tr {
  border-bottom: 1px solid var(--color-e);
}

th {
  font-weight: 800;
  text-align: left;
  background-color: var(--color-e);
  color: var(--white);
  color: #fff;
}

.text--center {
  text-align: center;
}

.bg--red {
  background-color: var(--color-a);
  color: var(--white);
}

.bg--red-light {
  background-color: var(--color-b);
  color: var(--white);
}

.bg--orange {
  background-color: var(--color-c);
  color: var(--white);
}

.bg--orange-light {
  background-color: var(--color-d);
  color: var(--white);
}

.text--strong {
  font-weight: 800;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-c);
  color: var(--white);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader.is--active {
  opacity: 1;
  visibility: visible;
}

.tile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.total {
  font-size: 14px;
}

tr:nth-child(even) {
  background: rgb(229, 238, 252);
}
