:root {
  --color-a: rgb(150, 48, 48);
  --color-b: rgb(148, 98, 98);
  --color-c: rgb(244, 129, 7);
  --color-d: rgb(244, 179, 110);
  --color-e: rgb(92, 152, 247);
  --color-f: rgb(222, 233, 252);
  --color-g: rgb(225, 225, 225);
  --white: #fff;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.site-footer,
.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
}

a {
  color: currentColor;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.site-footer {
  background-color: var(--color-c);
  color: var(--white);
}

.site-header > span {
  display: inline-block;
  margin: 0 10px;
}

.site-footer__inner,
.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

table {
  border-left: 1px solid var(--color-g);
  border-top: 1px solid var(--color-g);
  border-bottom: 1px solid var(--color-g);
  width: 100%;
  max-width: 900px;
  margin-bottom: 10px;
}

td,
th {
  border-right: 1px solid var(--color-g);
  padding: 10px;
}

tr {
  border-bottom: 1px solid var(--color-g);
}

th {
  font-weight: 800;
  text-align: left;
  background-color: var(--color-e);
  color: var(--white);
  color: #fff;
}

.text--small {
  font-size: 14px;
}

.text--center {
  text-align: center;
}

.bg--red {
  background-color: var(--color-a);
  color: var(--white);
}

.bg--red-light {
  background-color: var(--color-b);
  color: var(--white);
}

.bg--orange {
  background-color: var(--color-c);
  color: var(--white);
}

.bg--orange-light {
  background-color: var(--color-d);
  color: var(--white);
}

.text--strong {
  font-weight: 800;
}

.text--right {
  text-align: right;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-c);
  color: var(--white);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader.is--active {
  opacity: 1;
  visibility: visible;
}

.tile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.total {
  font-size: 14px;
}

tr:nth-child(even) {
  background: var(--color-f);
}

input {
  padding: 10px;
}
