:root {
  --color-a: rgb(150, 48, 48);
  --color-b: rgb(148, 98, 98);
  --color-c: rgb(208, 108, 3);
  --color-d: rgb(244, 179, 110);
  --color-e: #708090;
  --color-f: rgb(235, 235, 235);
  --color-g: rgb(225, 225, 225);
  --color-h: #000;
  --color-i: #67727b;
  --bio-yellow: #eadf0c;
  --white: #fff;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

th > button,
th > div {
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  background: none;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  font-weight: 800;
  font-family: inherit;
}

button {
  cursor: pointer;
}

.site-footer,
.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  background-color: var(--color-c);
  color: var(--white);
}

.site-header {
  background-color: var(--color-h);
}

.site-footer {
  margin-top: auto;
}

a {
  color: currentColor;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

h1 > span {
  padding: 0 5px;
}

.site-header {
  margin-bottom: 20px;
}

.site-header > span {
  display: inline-block;
  margin: 0 10px;
}

.site-footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

.site-header__inner {
  width: 100%;
  max-width: 900px;
}

@media only screen and (min-width: 700px) {
  .section--overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.totals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media only screen and (max-width: 700px) {
  .totals {
    margin-bottom: 10px;
  }

  .total {
    display: grid;
    justify-content: center;
  }
}

.control {
  display: grid;
  gap: 10px;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.section {
  width: 100%;
  max-width: 900px;
  margin-bottom: 10px;
}

.section--data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(30%, 35%) minmax(65%, 70%);
  margin-bottom: 10px;
  border-left: 1px solid var(--color-g);
  border-top: 1px solid var(--color-g);
  border-bottom: 1px solid var(--color-g);
  overflow: hidden;
}

table {
  width: 100%;
}

.table-fixed {
  overflow: hidden;
  border-right: 1px solid var(--color-g);
}

.table-fixed th {
  background-color: var(--color-i);
}

.table-responsive {
  overflow-x: scroll;
}

.table-responsive td,
.table-responsive th {
  border-right: 1px solid var(--color-g);
}

td {
  white-space: nowrap;
  padding: 10px;
}

tr {
  border-bottom: 1px solid var(--color-g);
}

th {
  font-weight: 800;
  text-align: left;
  background-color: var(--color-e);
  color: var(--white);
  color: #fff;
}

.text--small {
  font-size: 14px;
}

.text--center {
  text-align: center;
}

.bg--red {
  background-color: var(--color-a);
  color: var(--white);
}

.bg--red-light {
  background-color: var(--color-b);
  color: var(--white);
}

.bg--orange {
  background-color: var(--color-c);
  color: var(--white);
}

.bg--orange-light {
  background-color: var(--color-d);
  color: var(--white);
}

.text--strong {
  font-weight: 800;
}

.text--right {
  text-align: right;
}

.color--red {
  color: var(--color-b);
}

.color--orange {
  color: var(--color-c);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bio-yellow);
  color: var(--white);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader.is--active {
  opacity: 1;
  visibility: visible;
}

.tile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.total > div {
  font-size: 28px;
}

tr:nth-child(even) {
  background: var(--color-f);
}

input {
  padding: 10px;
}

.blinker {
  height: 10px;
  animation: 1500ms blink ease infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
